.entry-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.input-row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4px;
}
.input-row label {
  min-width: 120px;
  margin: 0;
}
.input-row input {
  flex: 1;
}

.btn-entry {
  margin-top: 16px;
  width: 120px;
}